<header>
	<div class="header-container">
		<div class="thumb">
			<img src="/img/T0LCEMLKZ-U25S756HZ-76f6547c22fa-512.jpg" alt="">
		</div>
		<div class="detail">
			<h1>arfian adam</h1>
			<code>front end engineer</code><code>tech enthusiast</code>
		</div>
	</div>
</header>

<aside>
	<div class="container">
		<nav>
			<ul>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
				<li><a href="https://blog.arfianadam.com">Blog</a></li>
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>