h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
}

.highlighter-rouge {
  padding: 0.4rem 0.6rem;
  margin: 0;
  font-size: 90%;
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
}

.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}