aside, footer {
	@include container-fixed;
	border-bottom: 1px solid #eaeaea;
	background: #fafafa;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		text-align: center;

		li {
			display: inline-block;

			a {
				padding: 20px 30px;
				display: inline-block;
				font-weight: bold;
			}
		}
	}

	&.fixed {
		position: fixed;
		top: 0;
		width: 100%;
	}
}

.aside-fill {
	height: 60px;
	display: none;

	&.fixed {
		display: block;
	}
}

footer {
	border-top: 1px solid #eaeaea;
	.social	{
		a {
			padding: 10px 20px;
			font-size: 3rem;
		}
	}
}