#introduction {
	background: $black;
	color: $white;

	.container {
		position: relative;
		padding-top: 16rem;
		padding-bottom: 16rem;
		background: url('/img/intro.png');
		background-size: auto 54%;
		background-position: left center;
		background-repeat: no-repeat;
		@media (max-width: $screen-lg-min) {
			background-size: auto 42%;
		}
		@media (max-width: $screen-md-min) {
			background-size: auto 28%;
		}
		@media (max-width: $screen-sm-min) {
			background-size: auto 70%;
		}

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			display: block;
			content: "";
			z-index: 2;
			@media (max-width: $screen-md-min) {
				background-color: rgba(39,40,34,0);
			}
			@media (max-width: $screen-sm-min) {
				background-color: rgba(39,40,34,0.95);
			}
		}

		.side-half-right {
			width: 50%;
			float: right;
			position: relative;
			z-index: 3;
			@media (max-width: $screen-sm-min) {
				width: 100%;
				float: none;
				h1, p {
					text-align: center;
				}
			}
			p {
				line-height: 2.4;
			}
			code {
				background-color: rgba(255, 255, 255, 0.06);
			}
		}
	}
}